<!DOCTYPE HTML>

<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <div>
    <h3>My Favorite Countries</h3>
    <a href='/countries/new'>Enter a new country</a>
  </div>
    <table colspan='2' cellspacing= '50'>
      <thead>
      <th>Country</th>
      <th>Flag</th>
      <th>Capital</th>
      <th>Population</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>

    <% country.forEach(function(country){ %>
    <tbody>
      <tr>
       <td><a href='/countries/<%=country.id%>'><%= country.name %></a></td>
      <td><img src='<%= country.flag %>'></td>
      <td><%= country.capital %></td>
      <td><%= country.population %></td>
      <td><a href='/countries/<%=country.id%>/edit'>edit</a></td>
      <td><form action="/countries/<%=country.id%>?_method=delete" method= "POST"><input type="submit" value= 'Delete'></td>
      </form>
    </tr>
    <% }); %>
  </tbody>
    </table>


  </body>
</html>